<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454605566622-srskemkm208ivulnq1s1hsc87ptrgmab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454605566622-srskemkm208ivulnq1s1hsc87ptrgmab</string>
	<key>API_KEY</key>
	<string>AIzaSyAFG7lUF6tlF4Q06ABGgmIY2mEcdwOH_6s</string>
	<key>GCM_SENDER_ID</key>
	<string>454605566622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleIgniteApp</string>
	<key>PROJECT_ID</key>
	<string>sign-in-bread</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-in-bread.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454605566622:ios:19aa45247c214e10fa818f</string>
</dict>
</plist>